:root {
	--grid-size: max(80px, 4rem);
	--grid-gap: 4px;
	--gap-color: #ADD8E6;
}

body {
	background-color: black;
	display: grid;
	height: 98vh;
	grid-template-rows: 3fr 1fr 1fr 50px;
	justify-content: center;
	align-content: center;
	justify-items: center;
	align-items: center;
	color: white;
	font-family: Arial, sans-serif;
}

.main-container {
	display: grid;
	grid-template-rows: repeat(3, var(--grid-size));
	grid-template-columns: repeat(3, var(--grid-size));
	gap: var(--grid-gap);
	background-color: var(--gap-color);
	border: none;
}

.grid {
	background-color: black;
	display: grid;
	justify-items: center;
	align-items: center;
	font-weight: 500;
	font-size: 5em;
	cursor: pointer;
}

.status-bar {
	display: grid;
	align-self: start;
	justify-items: center;
	grid-template-columns: repeat(3, 1fr);
	padding: 12px;
	gap: 12px;
	text-align: center;
}

.btn-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 32px;
}

.title {
	font-size: 1.5rem;
}

.score {
	font-size: 3rem;
}

button {
	padding: 12px;
	border-radius: 16px;
	outline: none;
	background-color: var(--gap-color);
	font-weight: bold;
	font-size: 1rem;
	max-width: 120px;
}

button:hover {
	background-color: orange;
	color: white;	
}

a {
	align-self: center;
	text-decoration: none;
	color: var(--gap-color);
}

a:hover {
	color: orange;
}

.container {
	position: relative;
	background-color: inherit;
}

form {
	display: none;
}

form.overlay {
	position: absolute;
	z-index: 9;

	align-self: center;

	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 80px 1fr;
	gap: 12px;
	padding: 12px;
	justify-items: center;
	align-items: center;
}

form .btn-container {
	grid-column: 1 / -1;
}


input {
	height: 25px;
	border: none;
	border-bottom: 4px solid #ADD8E6;
	border-radius: 16px;
	padding-left: 16px;
}

